.add-form {
    margin-left: 125vh;
}

.form-control {
    padding: 1vh;
}

input {
    margin-left: 1vh;
}

select {
    margin-left: 1vh;
}

Button {
    background-color: blue;
    margin-left: 4vh;
}