.adduserbutton {
    display: inline;
    background-color: #4856fd;
}

.adduserform {
    margin-left: 50vh;
}

.pagelabel {
    margin-left: 110vh;
    display: inline;
}

.pageinput {
    margin-top: 2vh;
    display: inline;
}