.update-form {
    margin-left: 0vh;
}

.update-form-control {
    padding: 1vh;
}

input {
    margin-left: 1vh;
}

select {
    margin-left: 2vh;
}

Button {
    background-color: #4856fd;
    margin-left: 4vh;
}